<div class="side-bar-header"> <!--side-bar-header-name  side-bar-create-roomの親要素-->
  <div class="side-bar-header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>  <!--カレントユーザの名前表示、クリックでカレントユーザの編集ページへ-->
  </div>

  <div class="side-bar-header-create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>


<div class="side-bar-rooms">  <!--side-bar-roomの親要素-->
  <% current_user.rooms.each do |room| %>
    <div class="side-bar-room">   <!--side-bar-room-nameの親要素-->
     <div class="side-bar-room-name">  <!--ルーム名表示部-->
       <%= link_to room.name, room_messages_path(room) %>
     </div>
    </div>
  <%end%>
</div>