<div class="wrapper"><!--side-bar  chatの親要素-->

  <div class="side-bar">
    <%= render "side_bar" %><!--サイドバー呼び出し-->
  </div>

  <div class="chat">
    <%= render "main_chat" %><!--チャット部呼び出し-->
  </div>

</div>