.wrapper {
  display: flex;  /*子要素(.side-bar .chat)を横並びに配列*/
}


.side-bar { /*サイドバー部の親要素*/
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-bar-header {  /*ヘッダー部の親要素  子要素(.side-bar-header-name .side-bar-create-room)を横並びに配列*/
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between; /*子要素(.side-bar-header-name .side-bar-create-room)を横並びに等間隔で配列*/
  align-items: center;  /*子要素(.side-bar-header-name .side-bar-create-room)を縦方向中央に配列*/
}
.side-bar-header-name a{  
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;  /*リンク文字の下線非表示*/
}
.side-bar-header-create-room a{ 
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;  /*リンク文字の下線非表示*/
}


.side-bar-rooms { /*ルーム名一覧部の親要素*/
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll; /*スクロール機能追加*/
}
.side-bar-room {  /*ルーム名表示部のブロック*/
  padding: 20px 0 40px;
}
.side-bar-room-name a {
  text-decoration: none;
  color: white;
}


.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.chat-header {
  height: 100px;
  padding: 0 40px;
}
.chat-messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.chat-form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}